<div class="bg-light border rounded-3 p-1 sticky-top left-menu" style="height: 800px;">
    <ul class="nav nav-pills flex-sm-column flex-row mb-auto justify-content-between text-truncate scroll-auto">
        <li class="nav-item">
            <a href="{% url 'web_knpcmt_pdf' id=1 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-house fs-5"></i>
                <span class="d-none d-sm-inline">Kỹ năng ứng phó với ma túy</span>
            </a>
        </li>
        <li>
            <a href="{% url 'web_knpcmt_pdf' id=2 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-speedometer fs-5"></i>
                <span class="d-none d-sm-inline">Kỹ năng quản lý cảm xúc</span>
            </a>
        </li>
        <li>
            <a href="{% url 'web_knpcmt_pdf' id=3 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-speedometer fs-5"></i>
                <span class="d-none d-sm-inline">Kỹ năng ứng phó với căng thẳng</span>
            </a>
        </li>
        <li>
            <a href="{% url 'web_knpcmt_pdf' id=4 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-speedometer fs-5"></i>
                <span class="d-none d-sm-inline">Kỹ năng tìm kiếm trợ giúp</span>
            </a>
        </li>
        <li>
            <a href="{% url 'web_knpcmt_pdf' id=5 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-speedometer fs-5"></i>
                <span class="d-none d-sm-inline">Một số tình huống trong thực tiễn</span>
            </a>
        </li>
        <li>
            <a href="{% url 'web_knpcmt_pdf' id=7 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-speedometer fs-5"></i>
                <span class="d-none d-sm-inline">Vai trò của giáo viên trong phòng tránh ma túy học đường</span>
            </a>
        </li>
        <li>
            <a href="{% url 'web_knpcmt_pdf' id=8 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-speedometer fs-5"></i>
                <span class="d-none d-sm-inline">Vai trò của phụ huynh trong phòng tránh ma túy học đường</span>
            </a>
        </li>
        <li>
            <a href="{% url 'web_knpcmt_pdf' id=9 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-speedometer fs-5"></i>
                <span class="d-none d-sm-inline">Nhận diện các nhóm hành vi vi phạm pháp luật về ma túy và cách phòng tránh</span>
            </a>
        </li>
        <li>
            <a href="{% url 'web_knpcmt_pdf' id=10 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-speedometer fs-5"></i>
                <span class="d-none d-sm-inline">Xét nghiệm ma túy qua mẫu nước tiểu bằng kid test fastep</span>
            </a>
        </li>
        <li>
            <a href="{% url 'web_knpcmt_pdf' id=6 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-speedometer fs-5"></i>
                <span class="d-none d-sm-inline">Hotline tư vấn</span>
            </a>
        </li>
    </ul>
</div>