<div class="bg-light border rounded-3 p-1 sticky-top left-menu" style="height: 800px;">
    <ul class="nav nav-pills flex-sm-column flex-row mb-auto justify-content-between text-truncate scroll-auto">
        <li class="nav-item">
            <a href="{%  url 'web_kptgmt_pdf' id=1 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-house fs-5"></i>
                <span class="d-none d-sm-inline">Ma túy là gì? </span>
            </a>
        </li>
        <li>
            <a href="{%  url 'web_kptgmt_pdf' id=2 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-speedometer fs-5"></i>
                <span class="d-none d-sm-inline">Ma túy có mấy loại?</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{%  url 'web_kptgmt_pdf' id=3 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-house fs-5"></i>
                <span class="d-none d-sm-inline">Ma túy tự nhiên </span>
            </a>
        </li>
        <li>
            <a href="{%  url 'web_kptgmt_pdf' id=4 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-speedometer fs-5"></i>
                <span class="d-none d-sm-inline">Thuốc phiện</span>
            </a>
        </li>
        <li>
            <a href="{%  url 'web_kptgmt_pdf' id=5 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-speedometer fs-5"></i>
                <span class="d-none d-sm-inline">Cocain</span>
            </a>
        </li>
        <li>
            <a href="{%  url 'web_kptgmt_pdf' id=6 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-speedometer fs-5"></i>
                <span class="d-none d-sm-inline">Cần sa</span>
            </a>
        </li>
        <li>
            <a href="{%  url 'web_kptgmt_pdf' id=7 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-speedometer fs-5"></i>
                <span class="d-none d-sm-inline">Nấm thức thần (nấm ma thuật)</span>
            </a>
        </li>
        <li>
            <a href="{%  url 'web_kptgmt_pdf' id=8 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-speedometer fs-5"></i>
                <span class="d-none d-sm-inline">Lá Khat</span>
            </a>
        </li>
        <li>
            <a href="{%  url 'web_kptgmt_pdf' id=9 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-speedometer fs-5"></i>
                <span class="d-none d-sm-inline">Ma túy bán tổng hợp</span>
            </a>
        </li>
        <li>
            <a href="{%  url 'web_kptgmt_pdf' id=10 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-speedometer fs-5"></i>
                <span class="d-none d-sm-inline">Heroin</span>
            </a>
        </li>
        <li>
            <a href="{%  url 'web_kptgmt_pdf' id=11 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-speedometer fs-5"></i>
                <span class="d-none d-sm-inline">Morphine</span>
            </a>
        </li>
        <li>
            <a href="{%  url 'web_kptgmt_pdf' id=12 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-speedometer fs-5"></i>
                <span class="d-none d-sm-inline">Ma túy tổng hợp</span>
            </a>
        </li>
        <li>
            <a href="{%  url 'web_kptgmt_pdf' id=13 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-speedometer fs-5"></i>
                <span class="d-none d-sm-inline">Thuốc lắc (ectasy)</span>
            </a>
        </li>
        <li>
            <a href="{%  url 'web_kptgmt_pdf' id=14 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-speedometer fs-5"></i>
                <span class="d-none d-sm-inline">Ma túy đá (meth)</span>
            </a>
        </li>
        <li>
            <a href="{%  url 'web_kptgmt_pdf' id=15 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-speedometer fs-5"></i>
                <span class="d-none d-sm-inline">Lysergic acid diethylamide (viên giấy, bùa lưỡi)</span>
            </a>
        </li>
        <li>
            <a href="{%  url 'web_kptgmt_pdf' id=16 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-speedometer fs-5"></i>
                <span class="d-none d-sm-inline">Cỏ Mỹ</span>
            </a>
        </li>
        <li>
            <a href="{%  url 'web_kptgmt_pdf' id=17 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-speedometer fs-5"></i>
                <span class="d-none d-sm-inline">Amphetamine</span>
            </a>
        </li>
        <li>
            <a href="{%  url 'web_kptgmt_pdf' id=18 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-speedometer fs-5"></i>
                <span class="d-none d-sm-inline">Một số loại ma túy phổ biến</span>
            </a>
        </li>
        <li>
            <a href="{%  url 'web_kptgmt_pdf' id=19 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-speedometer fs-5"></i>
                <span class="d-none d-sm-inline">Chất Ma Túy Ngụy Trang</span>
            </a>
        </li>
        <li>
            <a href="{%  url 'web_kptgmt_pdf' id=20 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-speedometer fs-5"></i>
                <span class="d-none d-sm-inline">Các chất ma túy thế hệ mới</span>
            </a>
        </li>
    </ul>
</div>