<div class="bg-light border rounded-3 p-1 sticky-top left-menu" style="height: 800px;">
    <ul class="nav nav-pills flex-sm-column flex-row mb-auto justify-content-between text-truncate scroll-auto">
        <li class="nav-item">
            <a href="{% url 'web_thcmt_pdf' id=1 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-house fs-5"></i>
                <span class="d-none d-sm-inline">Nghiện ma túy là gì?</span>
            </a>
        </li>
        <li>
            <a href="{% url 'web_thcmt_pdf' id=2 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-speedometer fs-5"></i>
                <span class="d-none d-sm-inline">Các dấu hiệu để nhận biết người bị nghiện ma túy</span>
            </a>
        </li>
        <li>
            <a href="{% url 'web_thcmt_pdf' id=3 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-speedometer fs-5"></i>
                <span class="d-none d-sm-inline">Bạn có thể chết nếu sử dụng ma túy không?</span>
            </a>
        </li>
        <li>
            <a href="{% url 'web_thcmt_pdf' id=4 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-speedometer fs-5"></i>
                <span class="d-none d-sm-inline">Tác hại của ma túy</span>
            </a>
        </li>
        <li>
            <a href="{% url 'web_thcmt_pdf' id=5 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-speedometer fs-5"></i>
                <span class="d-none d-sm-inline">Các phương pháp điều trị cai nghiện</span>
            </a>
        </li>
        <li>
            <a href="{% url 'web_thcmt_pdf' id=6 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-speedometer fs-5"></i>
                <span class="d-none d-sm-inline">HIV-AIDS là gì?</span>
            </a>
        </li>
        <li>
            <a href="{% url 'web_thcmt_pdf' id=7 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-speedometer fs-5"></i>
                <span class="d-none d-sm-inline">Mối liên hệ giữa ma túy và HIV-AIDS</span>
            </a>
        </li>
        <li>
            <a href="{% url 'web_thcmt_pdf' id=8 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-speedometer fs-5"></i>
                <span class="d-none d-sm-inline">HIV lây truyền như thế nào?</span>
            </a>
        </li>
        <li>
            <a href="{% url 'web_thcmt_pdf' id=9 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-speedometer fs-5"></i>
                <span class="d-none d-sm-inline">Cần làm gì để phòng tránh lây, nhiễm HIV?</span>
            </a>
        </li>
    </ul>
</div>