<div class="bg-light border rounded-3 p-1 sticky-top left-menu" style="height: 800px;">
    <ul class="nav nav-pills flex-sm-column flex-row mb-auto justify-content-between text-truncate scroll-auto">
        <li class="nav-item">
            <a href="{% url 'library_library' id=1 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-house fs-5"></i>
                <span class="d-none d-sm-inline">Hiểm họa ma túy</span>
            </a>
        </li>
        <li>
            <a href="{% url 'library_library' id=2 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-speedometer fs-5"></i>
                <span class="d-none d-sm-inline">Câu nói truyền cảm hứng và áp phích tuyên truyền</span>
            </a>
        </li>
         <li>
            <a href="{% url 'library_library' id=3 %}" class="nav-link px-2 text-truncate">
                <i class="bi bi-speedometer fs-5"></i>
                <span class="d-none d-sm-inline">Tài nguyên trực tuyến về ma túy</span>
            </a>
        </li>
    </ul>
</div>