<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
        <li class="nav-item"><a class="nav-link" href="{% url 'web_index' %}#video">Khám phá thế giới ma tuý</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'web_index' %}#identify_drugs">Nhận diện các chất ma tuý</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'web_index' %}#harmful_effects_drugs">Tác hại của ma tuý</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'web_index' %}#refusal_skills">Kỹ năng phòng chống ma tuý</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'web_index' %}#drug_awareness">Quiz</a></li>
    </ul>
</div>