{% extends "base.html" %}
{% block content %}
{% load i18n static %}
<link rel="stylesheet" type="text/css" href="{% static 'themes/zalo/zalo_chat.css' %}" />
<script type="text/javascript" src="{% static 'themes/zalo/zalo_chat.js' %}"></script>
<div class="content-page">
    <div class="page-message">
        <div class="page-message-inside">
            <div class="groups-and-users-container">
                <div class="search">
                    <div class="search-container">
                        <div class="search-content">
                            <i id="btn_search_follower" class="fa fa-search"></i>
                            <input id="txt_search_follower" type="text" placeholder="Tìm người quan tâm">
                        </div>
                    </div>
                </div>
                <div class="groups-and-users">
                    <div class="list-item">
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="context-welcome-slider">
                    <div class="heading-cwc">
                        <span class="title">
                            Chào mừng đến với <strong>Zalo OA AkaInsights</strong>
                        </span>
                        <p>
                            Khám phá những tiện ích hỗ trợ làm việc và chăm sóc khách hàng được tối ưu hoá cho
                            máy tính của bạn.
                        </p>
                        <img src="https://stc-oa-chat-adm.zdn.vn/images/inapp-welcome-screen-04.jpg"
                            alt="Zalo Offical Account">
                    </div>
                </div>
                <div class="content-conversation hide">
                    <div class="user-current">
                    </div>
                    <div class="section-post" id="dropbox">
                        <div class="section-chatbox">
                            <div class="section-content">
                                <!--                                <div class="section-timestamp">-->
                                <!--                                    <span>14:47 Thứ năm, 10 tháng 9 năm 2020</span>-->
                                <!--                                </div>-->
                            </div>
                        </div>
                    </div>
                    <div class="section-compose">
                        <div class="add-msg-box">
                            <div class="add-msg-box-txtArea">
                                <textarea id="message_send" placeholder="Nhập nội dung tin nhắn..."
                                    class="textarea"></textarea>
                            </div>
                            <a class="btn-send">Gửi</a>
                            <div class="add-msg-box-func">
                                <div class="emoji-container false">
                                    <i class="fa fa-smile-o fa-2x"></i>
                                </div>
                                <div class="attach-container">
                                    <div class="inputfile-container">
                                        <input class="inputfile" type="file" name="attach" id="file-upload">
                                        <label for="attach"></label>
                                    </div>
                                    <i class="fa fa-paperclip fa-2x"></i>
                                </div>
                                <div class="store-container false">
                                    <i class="fa fa-shopping-cart fa-2x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var fullDomain = 'http://dev-activation-akainsights.southeastasia.cloudapp.azure.com:800';
    // var fullDomain = 'http://localhost:800';
    var listApiUrl = {
        'save_config': '/api/socialchat/zalo/config/',
        'get_followers': '/api/socialchat/zalo/get/followers/',
        'get_profile': '/api/socialchat/zalo/get/getprofile/',
        'get_conversation': '/api/socialchat/zalo/get/conversation/',
        'save_message': '/api/socialchat/zalo/post/message/',
        'hook_message': '/api/zalo/listen/',
        'search_followers': '/api/socialchat/zalo/get/search/',
    };
    ZaloChat.init(fullDomain, listApiUrl);
</script>
{% endblock %}