{% extends "base.html" %}
{% load i18n static %}
{% load prettyjson %}
{% block toolbars %}
    <div class="text-right">
        <a href="{% url 'schedule' %}" class="btn btn-flat btn-primary">
            <i class="fa fa-list"></i> List
        </a>
    </div>
{% endblock %}
{% block content %}
    <form method="post" enctype="multipart/form-data" role="form">
        <div class="box box-primary">
            <div class="box-header">
                <div class="col-lg-6">
                    <div class="form-group form-inline">
                        <label>Use Case Name: </label>
                        <input class="form-control" name="name" value="{{ item.name }}" required/>
                    </div>
                </div>
                <div class="col-lg-6 no-padding">
                    <div class="input-group-btn">
                        <input type="submit" name="submit" class="btn btn-primary pull-right" value="Save & Close"/>
                        <input type="submit" name="submit" class="btn btn-warning pull-right" value="Preview"/>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Contact Type</label>
                            <select name="contact_type" class="form-control">
                                <option value="Anonymous" {% if contact_type == "Anonymous" %}selected {% endif %}>
                                    Anonymous
                                </option>
                                <option value="Lead" {% if contact_type == "Lead" %}selected {% endif %}>Lead
                                </option>
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Merge Contact</label>
                            <select name="merge_contact" class="form-control">
                                <option value="0" {% if merge_contact == "0" %}selected {% endif %}>No</option>
                                <option value="1" {% if merge_contact == "1" %}selected {% endif %}>Yes</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Select Contact</label>
                            <select name="contact" class="form-control select2" multiple required>
                                {% for item in items %}
                                    <option value="{{ forloop.counter0 }}"
                                            {% if forloop.counter0 in contact_ids %}selected{% endif %}>
                                        {{ item.first_name }} {{ item.last_name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Same fields</label>
                            <select name="same_fields" class="form-control select2" multiple="multiple">
                                {% for contact_field in contact_fields %}
                                    <option value="{{ contact_field }}"
                                            {% if contact_field in same_fields %}selected{% endif %}>
                                        {{ contact_field }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Ignore fields</label>
                            <select name="ignore_fields" class="form-control select2" multiple="multiple">
                                {% for contact_field in contact_fields %}
                                    <option value="{{ contact_field }}"
                                            {% if contact_field in ignore_fields %}selected{% endif %}>{{ contact_field }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}