{% extends "base.html" %}
{% block toolbars %}
    <div class="text-right">
        <a href="{% url 'schedule_edit' 0 %}" class="btn btn-flat btn-primary">
            <i class="fa fa-plus"></i> Add
        </a>
    </div>
{% endblock %}
{% block content %}
    <div class="row no-margin">
        <div class="box box-primary">
            <div class="box-body">
                <table class="table table-striped table-hover table-bordered">
                    <tr>
                        <th style="width: 50px">#</th>
                        <th>Name</th>
                        <th>Command</th>
                        <th>Schedule</th>
                        <th>State</th>
                        <th style="width: 200px">Action</th>
                    </tr>
                    {% for item in items %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ item.name }}</td>
                            <td>
                                */{{ item.config.schedule.time_number }} * * * *
                            </td>
                            <td>
                                {{ item.config.callback }}
                            </td>
                            <td>
                                {% if item.is_running == 0 %}
                                    <i class="label label-danger">Stopped</i>
                                {% else %}
                                    <i class="label label-success">Running</i>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'schedule_edit' item.id %}"
                                   class="btn btn-flat btn-sm btn-primary">
                                    <i class="fa fa-edit"></i> Edit
                                </a>
                                {% if item.is_running == 0 %}
                                    <a href="{% url 'schedule_change_state' item.id %}"
                                       class="btn btn-flat btn-sm btn-danger">
                                        Start
                                    </a>
                                {% else %}
                                    <a href="{% url 'schedule_change_state' item.id %}"
                                       class="btn btn-flat btn-sm btn-success">
                                        Stop
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
