{% extends "base.html" %}
{% load i18n static %}
{% block content %}
    <section class="page-section" id="quiz1">
        <div class="container">
            <div class="text-center" style="padding-top: 40px">
                <h2 class="section-heading text-uppercase">ĐẤU TRƯỜNG</h2>
                <a class="btn btn-primary text-uppercase" href="">Thể lệ cuộc thi</a>
            </div>
        </div>
        <div class="container">
            <div class="row" style="padding-top: 50px;">
                <div class="col-sm-6">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#">
                            <img class="img-fluid" src="{% static 'themes/DQH/assets/img/ct/1.jpg' %}" alt="...">
                        </a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#">
                            <img class="img-fluid" src="{% static 'themes/DQH/assets/img/ct/2.jpg' %}" alt="...">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
