{% extends "base.html" %}
{% load i18n static %}
{% block content %}
    <section class="page-section" id="quiz1">
        <div class="container">
            <div class="text-center" style="padding-top: 40px">
                <h2 class="section-heading text-uppercase">Thể lệ cuộc thi</h2>
                <h3 class="section-subheading text-uppercase">ĐẤU TRƯỜNG</h3>
            </div>
        </div>
        <div class="container">
            <div class="row" style="height: 800px;">
                <embed
                            src="{% static 'themes/DQH/assets/pdf/'%}{{ file_name }}"
                            type="application/pdf"
                            frameBorder="0"
                            scrolling="auto"
                            height="100%"
                            width="100%"
                    ></embed>
            </div>
        </div>
    </section>
{% endblock %}
