{% extends "base.html" %}
{% load i18n static %}
{% block masthead %}
    <!-- Masthead-->
    <header class="masthead">
        <div class="container">
            <div class="masthead-heading text-uppercase">Empower Your Future Today</div>
            <div class="masthead-subheading">Hãy tham gia cùng chúng tôi trong sứ mệnh giáo dục và kiến tạo môi trường học đường an toàn, hướng tới một tương lai không ma túy!
            </div>
            <a class="btn btn-primary btn-xl text-uppercase" href="{% url "library_library" id=1 %}">Tư liệu</a>
            <a class="btn btn-primary btn-xl text-uppercase" href="#contact">Liên hệ với chúng tôi</a>
        </div>
    </header>
{% endblock %}
{% block content %}
    <!-- Services-->
        <section class="page-section" id="video">
            <div class="container px-4 px-lg-5">
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="featured-text text-left col-xl-6 col-lg-6">
                        <h4 class="text-uppercase">Khám phá thế giới ma tuý</h4>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="featured-text text-left text-lg-left">
                            <p class="text-black-100 mb-0">
                                Bước vào thế giới thực của các chất gây nghiện với những thông tin chi tiết từ nguồn gốc, công thức hóa học, đến cách các loại ma túy xuất hiện trên thị trường và tác hại của chúng. Những thông tin cần thiết này sẽ giúp bạn chủ động bảo vệ bản thân và cộng đồng khỏi cạm bẫy ma túy.
                            </p>
                            <a class="btn btn-primary" href="{% url "web_kptgmt_pdf" id=1 %}">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <img class="img-fluid mb-3 mb-lg-0" width="100%" src="{% static 'themes/DQH/assets/img/home/video.webp' %}"
                     alt="...">
            </div>
        </section>

        <!-- how to identify drugs -->
        <section class="page-section bg-light" id="identify_drugs">
            <div class="container px-4 px-lg-5">
                <!-- Featured Project Row-->
                <div class="row gx-0 mb-4 mb-lg-5 align-items-lg-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="featured-text text-left text-lg-left me-5 text-black ps-0">
                            <h4 class="mb-4 text-uppercase">Nhận Diện Các Chất Ma Túy</h4>
                            <p class="text-black-100">Hiểu rõ về các loại ma túy giúp bạn nhận diện và tránh xa chúng. Bài viết này cung cấp thông tin chi tiết về hình dạng, màu sắc và mùi của các chất ma túy phổ biến.</p>
                        </div>
                        <div class="row">
                            <div class="col-xl-6 col-lg-6">
                                <h3 class="elementor-counter">50 loại</h3>
                                <p class="elementor-element">Các chất ma túy phổ biến được nhận diện.</p>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <h3 class="elementor-counter">30 dạng</h3>
                                <p class="elementor-element">Dạng thương phẩm của các chất ma túy.</p>
                            </div>
                        </div>
                        <div class="col-12">
                            <a class="btn btn-primary" href="{% url "web_ndccmt_video" %}">Xem video</a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <img class="img-fluid mb-3 mb-lg-0" width="600" height="600"
                             src="{% static 'themes/DQH/assets/img/home/identify_drugs.webp' %}"
                             alt="...">
                    </div>
                </div>
            </div>
        </section>

        <!-- harmful effects of drugs-->
        <section class="page-section bg-light" id="harmful_effects_drugs">
            <div class="container px-4 px-lg-5">
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-6 col-lg-6">
                        <img class="img-fluid mb-3 mb-lg-0" width="600" height="600"
                             src="{% static 'themes/DQH/assets/img/home/drugs.webp' %}"
                             alt="...">
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="featured-text text-left text-lg-left ps-5">
                            <h4 class="text-uppercase">Hiểu về tác hại của ma túy</h4>
                            <p class="text-black-100 mb-0">Ma túy có thể gây ra những tác động nghiêm trọng đến cả sức khỏe thể chất và tinh thần. Hiểu được những tác động này là rất quan trọng để đưa ra quyết định sáng suốt. Nhận thức là bước đầu tiên hướng tới phòng ngừa.</p>
                            <ul class="elementor-icon-list-items">
                                <li class="elementor-icon-list-item">
                                    <span class="elementor-icon-list-icon">
                                        <i aria-hidden="true" class="fas fa-exclamation-triangle"></i>
                                    </span>
                                    <span class="elementor-icon-list-text">Rủi ro sức khỏe nghiêm trọng</span>
                                </li>
                                <li class="elementor-icon-list-item">
                                    <span class="elementor-icon-list-icon">
                                        <i aria-hidden="true" class="fas fa-exclamation-triangle"></i>
                                    </span>
                                    <span class="elementor-icon-list-text">Tác động đến sức khỏe tinh thần</span>
                                </li>
                                <li class="elementor-icon-list-item">
                                    <span class="elementor-icon-list-icon">
                                        <i aria-hidden="true" class="fas fa-exclamation-triangle"></i>
                                    </span>
                                    <span class="elementor-icon-list-text">Hậu quả xã hội và kinh tế</span>
                                </li>
                            </ul>
                            <div class="col-12">
                                <a class="btn btn-primary" href="{% url "web_thcmt_video" %}">Xem video</a>
                                <a class="btn btn-primary" href="{% url "web_thcmt_pdf" id=1 %}">Xem thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- refusal skills -->
        <section class="page-section bg-black" id="refusal_skills">
            <div class="container px-4 px-lg-5">
                <!-- Featured Project Row-->
                <div class="row gx-0 mb-4 mb-lg-5 align-items-lg-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="featured-text text-left text-lg-left me-5 text-white ps-0">
                            <h4 class="text-uppercase">Làm chủ nghệ thuật nói không với ma túy</h4>
                            <p class="text-black-100">Học các chiến lược hiệu quả để tự tin từ chối ma túy trong mọi tình huống. Trau dồi cho mình các kỹ năng thực tế để chống lại áp lực từ bạn bè và đưa ra quyết định sáng suốt.</p>
                            <div class="elementor-widget-container">
                                <ul class="elementor-icon-list-items">
                                    <li class="elementor-icon-list-item">
                                                <span class="elementor-icon-list-icon text-white">
                                <i aria-hidden="true" class="fas fa-hand-paper"></i>						</span>
                                        <span class="elementor-icon-list-text">Hiểu lý do cá nhân của bạn khi nói "không".</span>
                                    </li>
                                    <li class="elementor-icon-list-item">
                                                <span class="elementor-icon-list-icon text-white">
                                <i aria-hidden="true" class="fas fa-hand-paper"></i>						</span>
                                        <span class="elementor-icon-list-text">Thực hành các kỹ thuật giao tiếp quyết đoán.</span>
                                    </li>
                                    <li class="elementor-icon-list-item">
                                                <span class="elementor-icon-list-icon text-white">
                                <i aria-hidden="true" class="fas fa-hand-paper"></i>						</span>
                                        <span class="elementor-icon-list-text">Phát triển mạng lưới hỗ trợ để khuyến khích.</span>
                                    </li>
                                </ul>
                                <div class="col-12">
                                    <a class="btn btn-primary" href="{% url "web_knpcmt_video"%}">Xem video</a>
                                    <a class="btn btn-primary" href="{% url "web_knpcmt_pdf" id=1 %}">Xem thêm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <img class="img-fluid mb-3 mb-lg-0" width="600" height="600"
                             src="{% static 'themes/DQH/assets/img/home/refusal.webp' %}"
                             alt="...">
                    </div>
                </div>
            </div>
        </section>

        <!-- Drug Awareness-->
        <section class="page-section bg-light" id="drug_awareness">
            <div class="container px-4 px-lg-5">
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="featured-text text-left col-xl-6 col-lg-6 pe-5">
                        <h4 class="text-uppercase">Kiểm tra nhận thức về ma túy của bạn</h4>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="featured-text text-left text-lg-left">
                            <p class="text-black-100 mb-0">
                                Thử thách bản thân với bài kiểm tra tương tác được thiết kế để đánh giá hiểu biết của bạn về ma túy và tác hại của chúng. Công cụ này rất cần thiết để nâng cao nhận thức và kiến ​​thức của bạn.
                            </p>
                            <a class="btn btn-primary" href="{% url 'quiz_index' %}">Bắt đầu</a>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <div class="row gx-0 mb-4 mb-lg-5 align">
                        <div class="col-xl-6 col-lg-6 pe-5">
                            <img class="img-fluid mb-3 mb-lg-0" src="{% static 'themes/DQH/assets/img/home/quiz.jpg' %}" alt="...">
                        </div>
                        <div class="col-xl-6 col-lg-6 pe-5">
                            <img class="img-fluid mb-3 mb-lg-0" src="{% static 'themes/DQH/assets/img/kq_quiz.jpg' %}" alt="...">
                        </div>
{#                    <div style="height: 600px;">#}
{#                        <iframe#}
{#                                src="https://quizizz.com/embed/quiz/6728193b3f577fa70e8115cd"#}
{#                                frameBorder="0"#}
{#                                scrolling="auto"#}
{#                                height="100%"#}
{#                                width="100%"#}
{#                        ></iframe>#}
                    </div>
                </div>
            </div>
        </section>
{% endblock %}