{% extends "base.html" %}
{% load i18n static %}
{% block content %}
    <!-- About-->
    <section class="page-section" id="about">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Kỹ Năng Phòng Chống Ma Tuý</h2>
                <h3 class="section-subheading text-muted">Làm chủ nghệ thuật nói không với ma tuý</h3>
            </div>
            <ul class="timeline">
                <li>
                    <div class="timeline-image">
                        <img class="rounded-circle img-fluid" src="{% static 'themes/DQH/assets/img/about/1.jpg' %}" alt="..."/>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="section-heading text-uppercase">Dấu hiệu sử dụng ma tuý</h4>
                        </div>
                        <video controls class="img-fluid mb-3 mb-lg-0" poster="{% static 'themes/DQH/assets/images/knpc/1.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/knpc/1.mp4' %}"/>
                        </video>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <img class="rounded-circle img-fluid" src="{% static 'themes/DQH/assets/img/about/2.jpg' %}" alt="..."/>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="section-heading text-uppercase">Dấu hiệu nhận diện trẻ nghiện ma tuý</h4>
                        </div>
                        <video controls class="img-fluid mb-3 mb-lg-0" poster="{% static 'themes/DQH/assets/images/knpc/2.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/knpc/2.mp4' %}"/>
                        </video>
                    </div>
                </li>
                <li>
                    <div class="timeline-image">
                        <img class="rounded-circle img-fluid" src="{% static 'themes/DQH/assets/img/about/3.jpg' %}" alt="..."/>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="section-heading text-uppercase">Kỹ năng phòng tránh ma tuý</h4>
                        </div>
                        <video controls class="img-fluid mb-3 mb-lg-0" poster="{% static 'themes/DQH/assets/images/knpc/3.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/knpc/3.mp4' %}"/>
                        </video>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <img class="rounded-circle img-fluid" src="{% static 'themes/DQH/assets/img/about/4.jpg' %}" alt="..."/>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="section-heading text-uppercase">Cách ứng phó với người ngáo đá cho phụ huynh</h4>
                        </div>
                        <video controls class="img-fluid mb-3 mb-lg-0" poster="{% static 'themes/DQH/assets/images/knpc/4.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/knpc/4.mp4' %}"/>
                        </video>
                    </div>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}