{% extends "base.html" %}
{% load i18n static %}
{% block masthead %}
    <!-- Masthead-->
    <header class="masthead">
        <div class="container">
            <div class="masthead-heading text-uppercase">Empower Your Future Today</div>
            <div class="masthead-subheading">Join us in our mission to educate and empower individuals with knowledge
                about drugs. Explore our resources to make informed decisions and build a safer community.
            </div>
            <a class="btn btn-primary btn-xl text-uppercase" href="#learn">Learn More</a>
            <a class="btn btn-primary btn-xl text-uppercase" href="#contact">Contact Us</a>
        </div>
    </header>
{% endblock %}
{% block content %}
    <!-- Video-->
    <section class="page-section" id="video">
        <div class="container px-4 px-lg-5">
            <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                <div class="featured-text text-left col-xl-6 col-lg-6">
                    <h4>Explore the World of Drugs</h4>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="featured-text text-left text-lg-left">
                        <p class="text-black-100 mb-0">
                            Discover the origins, chemical formulas, and commercial forms of various drugs. Our video
                            provides essential knowledge to help you understand and recognize these substances.
                        </p>
                        <a class="btn btn-primary" href="#about">Watch</a>
                    </div>
                </div>
            </div>
            <img class="img-fluid mb-3 mb-lg-0" width="100%" src="{% static 'themes/DQH/assets/img/home/video.webp' %}"
                 alt="...">
        </div>
    </section>

    <!-- harmful effects of drugs-->
    <section class="page-section bg-light" id="harmful_effects_drugs">
        <div class="container px-4 px-lg-5">
            <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <img class="img-fluid mb-3 mb-lg-0" width="600" height="600"
                         src="{% static 'themes/DQH/assets/img/home/drugs.webp' %}"
                         alt="...">
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="featured-text text-left text-lg-left ps-5">
                        <h4>Understanding the Harmful Effects of Drugs</h4>
                        <p class="text-black-100 mb-0">Drugs can have severe impacts on both physical and mental health.
                            Understanding these effects is crucial for making informed decisions. Awareness is the first
                            step towards prevention.</p>
                        <ul class="elementor-icon-list-items">
                            <li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true"
                               class="fas fa-exclamation-triangle"></i>						</span>
                                <span class="elementor-icon-list-text">Severe health risks</span>
                            </li>
                            <li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true"
                               class="fas fa-exclamation-triangle"></i>						</span>
                                <span class="elementor-icon-list-text">Impact on mental well-being</span>
                            </li>
                            <li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true"
                               class="fas fa-exclamation-triangle"></i>						</span>
                                <span class="elementor-icon-list-text">Social and economic consequences</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- refusal skills -->
    <section class="page-section bg-black" id="refusal_skills">
        <div class="container px-4 px-lg-5">
            <!-- Featured Project Row-->
            <div class="row gx-0 mb-4 mb-lg-5 align-items-lg-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="featured-text text-left text-lg-left me-5 text-white ps-0">
                        <h4>Master the Art of Saying No to Drugs</h4>
                        <p class="text-black-100">Learn effective strategies to confidently refuse drugs in any
                            situation. Empower yourself with practical skills to resist peer pressure and make informed
                            decisions.</p>
                        <div class="elementor-widget-container">
                            <ul class="elementor-icon-list-items">
                                <li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon text-white">
							<i aria-hidden="true" class="fas fa-hand-paper"></i>						</span>
                                    <span class="elementor-icon-list-text">Understand your personal reasons for saying no.</span>
                                </li>
                                <li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon text-white">
							<i aria-hidden="true" class="fas fa-hand-paper"></i>						</span>
                                    <span class="elementor-icon-list-text">Practice assertive communication techniques.</span>
                                </li>
                                <li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon text-white">
							<i aria-hidden="true" class="fas fa-hand-paper"></i>						</span>
                                    <span class="elementor-icon-list-text">Develop a support network for encouragement.</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <img class="img-fluid mb-3 mb-lg-0" width="600" height="600"
                         src="{% static 'themes/DQH/assets/img/home/refusal.webp' %}"
                         alt="...">
                </div>
            </div>
        </div>
    </section>

    <!-- how to identify drugs -->
    <section class="page-section bg-light" id="identify_drugs">
        <div class="container px-4 px-lg-5">
            <!-- Featured Project Row-->
            <div class="row gx-0 mb-4 mb-lg-5 align-items-lg-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="featured-text text-left text-lg-left me-5 text-black ps-0">
                        <h4 class="mb-4">Cách Nhận Biết Các Chất Ma Túy Hiệu Quả</h4>
                        <p class="text-black-100">Hiểu rõ về các loại ma túy giúp bạn nhận diện và tránh xa chúng. Bài viết này cung cấp thông tin chi tiết về hình dạng, màu sắc và mùi của các chất ma túy phổ biến.</p>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <h3 class="elementor-counter">50 loại</h3>
                            <p class="elementor-element">Các chất ma túy phổ biến được nhận diện.</p>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <h3 class="elementor-counter">30 dạng</h3>
                            <p class="elementor-element">Dạng thương phẩm của các chất ma túy.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <img class="img-fluid mb-3 mb-lg-0" width="600" height="600"
                         src="{% static 'themes/DQH/assets/img/home/identify_drugs.webp' %}"
                         alt="...">
                </div>
            </div>
        </div>
    </section>

    <!-- Stories Recovery-->
    <section class="page-section bg-info" id="storie_recovery">
        <div class="container px-4 px-lg-5">
            <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                <div class="featured-text text-left col-xl-6 col-lg-6 pe-5">
                    <h4>Inspiring Stories of Recovery</h4>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="featured-text text-left text-lg-left">
                        <p class="text-black-100 mb-0">
                            Discover the powerful journeys of individuals who have overcome addiction. These stories inspire hope and provide valuable insights for those facing similar challenges.
                        </p>
                        <a class="btn btn-primary" href="#about">Watch</a>
                    </div>
                </div>
            </div>
            <img class="img-fluid mb-3 mb-lg-0" width="100%" src="{% static 'themes/DQH/assets/img/home/storie_recovery.webp' %}"
                 alt="...">
        </div>
    </section>

    <!-- Drug Awareness-->
    <section class="page-section bg-blue" id="drug_awareness">
        <div class="container px-4 px-lg-5">
            <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                <div class="featured-text text-left col-xl-6 col-lg-6 pe-5">
                    <h4>Test Your Drug Awareness</h4>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="featured-text text-left text-lg-left">
                        <p class="text-black-100 mb-0">
                            Challenge yourself with our interactive quiz designed to evaluate your understanding of drugs and their harmful effects. This tool is essential for enhancing your awareness and knowledge.
                        </p>
                        <a class="btn btn-primary" href="#about">Start</a>
                    </div>
                </div>
            </div>
            <img class="img-fluid mb-3 mb-lg-0" width="100%" src="{% static 'themes/DQH/assets/img/home/drug_awareness.webp' %}"
                 alt="...">
        </div>
    </section>

    <!-- Contact-->
    <section class="page-section" id="contact">
        <div class="container">
            <div class="text-left">
                <h3 class="section-subheading text-uppercase text-white mb-3">Liên Hệ</h3>
                <h2 class="section-heading text-uppercase">Hotline Tư Vấn</h2>
                <h3 class="section-subheading text-white">Chúng tôi luôn sẵn sàng hỗ trợ bạn. Hãy liên hệ với chúng tôi ngay hôm nay!</h3>
            </div>
            <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                <div class="col-xl-4 col-lg-4 text-white pe-5">
                    <h3><i class="far fa-envelope text-primary"></i> Email Chúng Tôi</h3>
                    <p>
                        Gửi câu hỏi hoặc yêu cầu của bạn qua email. Chúng tôi sẽ phản hồi nhanh chóng.
                        <a href="">Gửi Email</a>
                    </p>
                </div>
                <div class="col-xl-4 col-lg-4 text-white">
                    <h3><i class="fas fa-phone-alt text-primary"></i> Gọi Ngay</h3>
                    <p>
                        Cần hỗ trợ ngay lập tức? Hãy gọi cho chúng tôi để nhận được sự giúp đỡ.
                        <a href="tel:+123456789">Gọi ngay</a>
                    </p>
                </div>
                <div class="col-xl-4 col-lg-4 text-white ps-5">
                    <h3><i class="fas fa-map-marker-alt text-primary"></i> Tìm Đường</h3>
                    <p>
                        Bạn có thể đến văn phòng của chúng tôi để được tư vấn trực tiếp.
                        <a target="_blank" href="https://www.google.com/maps/place/Tr%C6%B0%E1%BB%9Dng+THPT+D%C6%B0%C6%A1ng+Qu%E1%BA%A3ng+H%C3%A0m,+Li%C3%AAn+Ngh%C4%A9a,+V%C4%83n+Giang,+H%C6%B0ng+Y%C3%AAn,+Vi%E1%BB%87t+Nam/@20.9224703,105.9273863,17z/data=!3m1!4b1!4m6!3m5!1s0x3135afcf1bea62b1:0x809cddcd92cbc352!8m2!3d20.9223592!4d105.9323519!16s%2Fg%2F11bvtc6dvg?entry=ttu&g_ep=EgoyMDI0MTAyOS4wIKXMDSoASAFQAw%3D%3D">Xem bản đồ</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}