{% extends "base.html" %}
{% load i18n static %}
{% block content %}
    <section class="page-section" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Nhận diện các chất ma túy</h2>
                <h3 class="section-subheading text-muted">Các dạng thương phẩm của các chất ma túy</h3>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/ndmt/1.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/nd/Phân loại ma túy theo nguồn gốc.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Phân loại ma túy theo nguồn gốc</div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item" style="position: relative">
{#                        <a data-bs-toggle="modal" href="#video_1" style="position: absolute; left: 46%; top: 30%;">#}
{#                            <i class="fa fa-play-circle" style="width: 50px; height: 50px;"></i>#}
{#                        </a>#}
{#                        <img src="{% static 'themes/DQH/assets/images/ndmt/2.jpg' %}" class="img-fluid mb-3 mb-lg-0 w-100" />#}
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/ndmt/2.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/nd/Phân loại ma túy theo tác động lên hệ thần kinh.mp4' %}"/>
{#                            <source src="{% static 'themes/DQH/assets/video/video_1.mp4' %}"/>#}
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Phân loại ma túy theo tác động lên hệ thần kinh</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/ndmt/25.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/nd/2.tp.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Thuốc phiện</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/ndmt/26.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/nd/1.Cần sa.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Cần sa</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 3-->
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/ndmt/3.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/nd/3.heroin.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Heroin</div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                    <!-- Portfolio item 4-->
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/ndmt/4.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/nd/4.morphine.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Morphine</div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                    <!-- Portfolio item 5-->
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/ndmt/5.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/nd/5.meth.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Methaphetamine</div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <!-- Portfolio item 6-->
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/ndmt/6.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/nd/6.tl.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Thuốc lắc</div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/ndmt/7.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/nd/7.nam.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Nấm thức thần</div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 2-->
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/ndmt/8.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/nd/8.lakhat.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Lá Khát</div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 3-->
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/ndmt/9.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/nd/9.muoi.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Muối tắm</div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                    <!-- Portfolio item 4-->
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/ndmt/10.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/nd/10.temgiay.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Tem giấy, bùa lưỡi</div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                    <!-- Portfolio item 5-->
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/ndmt/11.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/nd/11.trasua.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Ma túy trà sữa</div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <!-- Portfolio item 6-->
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/ndmt/12.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/nd/12.ncvui.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Nước vui</div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/ndmt/13.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/nd/13.co.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Cỏ Mỹ</div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 2-->
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/ndmt/14.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/nd/Fentanyl - loại ma túy cực độc.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Fentanyl - loại ma túy cực độc</div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 3-->
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/ndmt/15.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/nd/Ketamin -cái chết trắng.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Ketamin - cái chết trắng</div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                    <!-- Portfolio item 4-->
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/ndmt/16.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/nd/Lá khát và Flakka.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Lá khát và Flakka</div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                    <!-- Portfolio item 5-->
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/ndmt/17.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/nd/Loại ma túy ngụy trang sản phẩm tăng cường sinh lực.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Loại ma túy ngụy trang sản phẩm tăng cường sinh lực
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <!-- Portfolio item 6-->
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/ndmt/18.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/nd/Ma túy mới trong thuốc lào, thuốc lá điện tử.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Ma túy mới trong thuốc lào, thuốc lá điện tử</div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/ndmt/19.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/nd/Ma túy ngụy trang.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Ma túy ngụy trang</div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 2-->
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/ndmt/20.jpg' %}">
                            <source src="{% static 'themes/DQH/assets/video/nd/Ma túy núp bóng thuốc lá điện tử.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Ma túy núp bóng thuốc lá điện tử</div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 3-->
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/ndmt/21.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/nd/Ma túy thế hệ mới.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Ma túy thế hệ mới</div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                    <!-- Portfolio item 4-->
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/ndmt/22.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/nd/Thuốc lá điện tử chứa ma túy tổng hợp.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Thuốc lá điện tử chứa ma túy tổng hợp</div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                    <!-- Portfolio item 5-->
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/ndmt/23.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/nd/Xylazine ma túy xác sống khiến da thối rữa.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Xylazine ma túy 'xác sống' khiến da thối rữa</div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <!-- Portfolio item 6-->
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/ndmt/24.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/nd/Ma túy mới trong thuốc lào, thuốc lá điện tử.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Ma túy ngụy trang trong thuốc lào, thuốc lá điện tử</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}