{% extends "base.html" %}
{% load i18n static %}
{% block content %}
    <section class="page-section" id="quiz1">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">QUIZ</h2>
            </div>
            <div style="height: 600px;">
                <iframe
                        src="https://quizizz.com/embed/quiz/6715057983a26128af87661c"
                        frameBorder="0"
                        scrolling="auto"
                        height="100%"
                        width="100%"
                ></iframe>
            </div>
        </div>
    </section>
    <section class="page-section bg-light" id="quiz3">
        <div class="container">
            <div style="height: 600px;">
                <iframe
                        src="https://quizizz.com/embed/quiz/67397edab8a22a007c16b6d6"
                        frameBorder="0"
                        scrolling="auto"
                        height="100%"
                        width="100%"
                ></iframe>
            </div>
        </div>
    </section>
    <section class="page-section bg-light" id="quiz4">
        <div class="container">
            <div style="height: 600px;">
                <iframe
                        src="https://quizizz.com/embed/quiz/67398f43dc1ed373aecdf77f"
                        frameBorder="0"
                        scrolling="auto"
                        height="100%"
                        width="100%"
                ></iframe>
            </div>
        </div>
    </section>
    <section class="page-section" id="quiz2">
        <div class="container">
            <div style="height: 600px;">
                <iframe
                        src="https://quizizz.com/embed/quiz/672816cba9e48230c3da36ad"
                        frameBorder="0"
                        scrolling="auto"
                        height="100%"
                        width="100%"
                ></iframe>
            </div>
        </div>
    </section>
    <section class="page-section" id="quiz2">
        <div class="container">
            <div style="height: 600px;">
                <iframe
                        src="https://quizizz.com/embed/quiz/673f513929fe78325fba1ee8"
                        frameBorder="0"
                        scrolling="auto"
                        height="100%"
                        width="100%"
                ></iframe>
            </div>
        </div>
    </section>
    <section class="page-section bg-light" id="quiz4">
        <div class="container">
            <div style="height: 600px;">
                <iframe
                        src="https://quizizz.com/embed/quiz/673f46a73a2ec779bbb3dd59"
                        frameBorder="0"
                        scrolling="auto"
                        height="100%"
                        width="100%"
                ></iframe>
            </div>
        </div>
    </section>
{% endblock %}