{% extends "base.html" %}
{% load i18n static %}
{% block content %}
    <section class="page-section" id="about">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Tác Hại Của Ma Túy</h2>
                <h3 class="section-subheading text-muted">Những hệ lụy khôn lường</h3>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/tachai/1.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/tachai/1.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Loạn thần vì ma tuý gia tăng ở giới trẻ</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item" style="position: relative">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/tachai/2.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/tachai/2.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Người ngáo đá nhìn và nghe thấy gì</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/tachai/3.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/tachai/3.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Mất trí nhớ, mắt mờ, khó thở, ... Vì hút bóng cười</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/tachai/4.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/tachai/4.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Tác động ma túy đá đến não bộ</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/tachai/5.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/tachai/5.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Xuất huyết não do sử dụng ma túy</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/tachai/6.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/tachai/6.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Nghiện ma túy dẫn đến bệnh tâm thần</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/tachai/7.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/tachai/7.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Trầm cảm sử dụng ma túy</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/tachai/8.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/tachai/8.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Ma túy núp bóng thuốc lá điện tử</div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/tachai/9.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/tachai/9.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Tác hại của thuốc lá điện tử</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/tachai/10.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/tachai/10.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Tác hại của thuốc lá điện tử chứa ma túy</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/tachai/11.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/tachai/11.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Tác hại kinh hoàng khi sử dụng cỏ Mỹ</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/tachai/12.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/tachai/12.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Tác hại chết người của ma túy tổng hợp</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/tachai/13.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/tachai/13.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Nguy kịch do sử dụng ma túy thế hệ mới</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/tachai/14.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/tachai/14.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Cảnh báo ngộ độc do sử dụng ma túy nước biển</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/tachai/15.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/tachai/15.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Tác hại ma túy</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/tachai/16.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/tachai/16.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Ma túy-thử 1 lần</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/tachai/17.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/tachai/17.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Bi kịch 16 năm nghiện ma túy</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/tachai/18.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/tachai/18.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Ảnh hưởng đến gia đình</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/tachai/19.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/tachai/19.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Ngáo đá ca sĩ gây chết người</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/tachai/20.jpg' %}">
                            <source src="{% static 'themes/DQH/assets/video/tachai/20.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/tachai/21.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/tachai/21.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Ngáo đá dùng dao chém chết người</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/tachai/22.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/tachai/22.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Ngáo đá tài xế xe đầu kéo gây tai nạn rồi bỏ chạy</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/tachai/23.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/tachai/23.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Tài xế dương tính</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <video controls class="img-fluid mb-3 mb-lg-0 w-100" poster="{% static 'themes/DQH/assets/images/tachai/24.jpg' %}" preload="none">
                            <source src="{% static 'themes/DQH/assets/video/tachai/24.mp4' %}"/>
                        </video>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Những vụ án nghiêm trọng do sử dụng ma túy</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}