{% extends "base.html" %}
{% load i18n static %}
{% block content %}
    <div class="content-page">

    </div>
    <script>
      $(function () {
        $.ajax({
          url: "https://oci-st-phpup-master-service.riracle-pos.jp/shop/printer/type?shop_id=1232",
          headers: {
            "API-KEY": "2bbd19f17e57cfff85f7bf033494fac1792d2d4c"
          },
          type: "GET",
          dataType: "application/json",
          success: function (data) {
            console.log(data);
          },
          error: function (hrx) {
            console.log(hrx)
          }
        })


        $.ajax(settings).done(function (response) {
          console.log(response);
        });
      });
    </script>
{% endblock %}