<section class="page-section" id="contact">
    <div class="container">
        <div class="text-left">
            <h3 class="section-subheading text-uppercase text-white mb-3">Liên Hệ</h3>
            <h2 class="section-heading text-uppercase">Hotline Tư Vấn</h2>
            <h3 class="section-subheading text-white">Chúng tôi luôn sẵn sàng hỗ trợ bạn. Hãy liên hệ với chúng tôi ngay hôm nay!</h3>
        </div>
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-3 col-lg-3 text-white pe-5">
                <h3><i class="far fa-envelope text-primary"></i> Email Chúng Tôi</h3>
                <p>
                    Gửi câu hỏi hoặc yêu cầu của bạn qua email. Chúng tôi sẽ phản hồi nhanh chóng.
                    <a href="mailto:C3duongquangham.hungyen@moet.edu.vn" target="_blank">Gửi Email</a>
                </p>
            </div>
            <div class="col-xl-3 col-lg-3 text-white">
                <h3><i class="fas fa-phone-alt text-primary"></i> Gọi Ngay</h3>
                <p>
                    Cần hỗ trợ ngay lập tức? Hãy gọi cho chúng tôi để nhận được sự giúp đỡ.
                    <a href="tel:+02213726052" target="_blank">Gọi ngay</a>
                </p>
            </div>
            <div class="col-xl-3 col-lg-3 text-white ps-5">
                <h3><i class="fas fa-map-marker-alt text-primary"></i> Tìm Đường</h3>
                <p>
                    Bạn có thể đến văn phòng của chúng tôi để được tư vấn trực tiếp.
                    <a target="_blank" href="https://www.google.com/maps/place/Tr%C6%B0%E1%BB%9Dng+THPT+D%C6%B0%C6%A1ng+Qu%E1%BA%A3ng+H%C3%A0m,+Li%C3%AAn+Ngh%C4%A9a,+V%C4%83n+Giang,+H%C6%B0ng+Y%C3%AAn,+Vi%E1%BB%87t+Nam/@20.9224703,105.9273863,17z/data=!3m1!4b1!4m6!3m5!1s0x3135afcf1bea62b1:0x809cddcd92cbc352!8m2!3d20.9223592!4d105.9323519!16s%2Fg%2F11bvtc6dvg?entry=ttu&g_ep=EgoyMDI0MTAyOS4wIKXMDSoASAFQAw%3D%3D">Xem bản đồ</a>
                </p>
            </div>

            <div class="col-xl-3 col-lg-3 text-white ps-5">
                <h3><i class="fas fa-line-chart text-primary"></i>Thống kê</h3>
                <p id="stats">
                    <strong>Số người đang online: </strong><span id="active_users">0</span><br>
                    <strong>Tổng lượng truy cập: </strong><span id="total_visits">0</span><br>
                </p>
            </div>
                    
        </div>
    </div>
</section>

<!-- Thêm đoạn mã JavaScript để gọi API -->
<script>
    // Gọi API để lấy dữ liệu
    function updateStats() {
        fetch('/analytics/')
        .then(response => response.json())
        .then(data => {
            // Cập nhật giá trị vào các phần tử trên trang
            document.getElementById('active_users').textContent = data.active_users;
            document.getElementById('total_visits').textContent = data.total_visits;
        })
        .catch(error => {
            console.error('Error fetching analytics data:', error);
        });
    }

    // Gọi hàm updateStats ngay khi trang tải
    updateStats();


    setInterval(updateStats, 300000);
</script>
