<div style="{{ widget.width }}" class="col-lg-12" id="widget_{{ widget.id }}">
    <div class="box box-danger box-widget1">
        <div class="box-header">
            <div class="pull-left">
                <i class="fa fa-list-ol"></i>
                <div class="box-title">{{ widget.name }}</div>
            </div>
            <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-toggle="tooltip" data-original-title="Export">
                    <i class="fa fa-download"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-action="{% url 'api_widget_delete' widget.id %}">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body box-comments" style="{{ widget.height }}; overflow: auto;">
            {% for item in widget.items %}
                <div class="box-comment">
                    <div class="text-bold"><span class="text-light-blue">Send at</span>: {{ item.created_at|get_date }}</div>
                    {% for key, value in item.data.items %}
                        <span class="text-red">{{ key|capfirst }}</span>: {{ value }}<br/>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="box-footer">
            {% include "practices/pagination/_paginator_ajax.html" with pagination=widget.pagination container_id=widget.id %}
        </div>
    </div>
</div>